body {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, #5125b8 , #8016a1);
  color: white;
}

}

.container {
  width: 50vw;
}


#tpcnt {
  color: white;
  display: flex;
  justify-content: center;
}

.tmp {
font-size: 50px;
margin: 20px;

}

.tmpdate {
margin: 6px;
font-size: 20px;

}

#minmax {
  margin-bottom: 2px;
}

#dt {
  margin-top: 2px;
}

.imgg {
margin-top: 1px;


}

#mainn {
  width: fit-content;
}

.midd {
  transition: 200ms;
  width: 98%;
  padding: 20px;
  height: fit-content;
  background-color: white;
  border: none;
  border-radius: 10px;
  background-color: rgba(61, 25, 99, 5%);
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 10px 1px rgba(33 7 61 / 50%);
}

.midd:hover {
  transition: 200ms;
  box-shadow: 0px 0px 10px 1px rgba(33 7 61 / 99%);
}

.part1 {
  display: flex;
}

.btn {
  height: 40px;
  width: 40px;
  transition: 500ms;
  padding: 5px;
  border-radius: 1000px;
  margin-left: 10px;
  background-color: black;
  color:white;
  fill: white;
  border: none;
  background-color: rgba(61, 25, 99, 55%);
  backdrop-filter: blur(5px);

}

.btn:hover {
  background-color: rgba(61, 25, 99, 75%);
  transition: 500ms;
}

.btnico {
  color:white;
  fill: white;
}

.part2 {
  display: flex;
  width: 100%;
}

.searchh {
  border: none;

  border-radius: 32px;
  padding-inline-start: 15px;
  height: 35px;
  transition: 200ms;
  margin-left: 5%;
}

.sun {
  display: flex;
  border: none;
  border-radius: 10px;
  background-color: rgba(61, 25, 99, 5%);
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 10px 1px rgba(33 7 61 / 50%);
}

.imggen {
  width: 50px;
  height: 50px;
}

.futuretemp {
  margin-top: 2px;
}

.future {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  background-color: rgba(61, 25, 99, 5%);
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 10px 1px rgba(33 7 61 / 50%);
  border-radius: 10px;
  transition: 200ms;
  padding-top: 10px;
  padding-bottom: 10px;
}


.future:hover {
  padding-top: 12px;
  padding-bottom: 12px;
  transition: 200ms;
}


#gen {
  font-size: 25px;
  margin-top: 2px;
  margin-left: 13px;
  /*! margin-right: 0px; */
}

#descc {
  margin-left: 15%;
  font-size: 25px;
}

#humidd {
  margin-right: 15%;
  margin-left: auto;
  font-size: 25px;
}



.rightsun {
  margin-right: 3px;
  margin-left: auto;
}

.day {
  background-color: rgba(61, 25, 99, 5%);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  margin: 2px;
  transition: 400ms;
  margin-bottom: 2px;
  width: fit-content;
  height: fit-content;
  min-width: 50px;
}

.day:hover {
  transition: 400ms;
  box-shadow: 0px 0px 10px 1px rgba(33 7 61 / 50%);
}

.waterr {
  margin-right:10px;
  fill: white;
  margin-top: 10px;
}

.humidityico {
  margin-right: 0px;
  margin-left: auto;
  display: flex;
}

.imggen {
  height: fit-content;
  padding: 3px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.futuretemp {
  height: fit-content;
  padding: 3px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.generalv2 {
  height: fit-content;
  padding: 3px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.datev2 {
  height: fit-content;
  padding: 3px;
  margin-top: 0px;
  margin-bottom: 0px;
}
